<div id="<%= dom_id user %>" class="card my-3">
      <div class="card-body">
        <p class="card-text">
			<strong>User:</strong>
			<%= user.email %>
		</p>
		<p class="card-text">
			<strong>Branch:</strong>
			<%= user.branch.name %>
		</p>
		<p class="card-text">
			<strong>Role:</strong>
			<%= user.role %>
		</p>
      </div>
</div>
