<p style="color: green"><%= notice %></p>
	
<h2>Schedule of Deliveries</h2>
<div id="schedule-data" data-deliveries="<%= @deliveries.to_json %>"></div>

<div>
  <%= link_to "Back to schedules", schedules_path if current_user.role == "admin"%>
</div>
	
<div id="ec"></div>

<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@event-calendar/build@1.5.0/event-calendar.min.css">
<script src="https://cdn.jsdelivr.net/npm/@event-calendar/build@1.5.0/event-calendar.min.js"></script>
<%= javascript_include_tag 'calendar' %>

