<div id="<%= dom_id delivery %>">
  <p>
    <strong>Deliver:</strong>
    <%= delivery.deliver %>
  </p>

  <p>
    <strong>Leave:</strong>
    <%= delivery.leave %>
  </p>

  <p>
    <strong>Schedule:</strong>
    <%= delivery.schedule_id %>
  </p>

</div>
