<div id="<%= dom_id delivery %>">
  <p>
    <strong>origin_leave:</strong>
    <%= delivery.origin_leave %>
  </p>

  <p>
    <strong>dest_leave:</strong>
    <%= delivery.dest_leave %>
  </p>

  <p>
    <strong>Schedule:</strong>
    <%= delivery.schedule_id %>
  </p>

</div>
