<%= javascript_include_tag 'delivery' %>
<h1>New delivery</h1>

<input
  id="pac-input"
  class="controls"
  type="text"
  placeholder="Search Box"
    />
<div id="map"></div>

<%= render "form", delivery: @delivery %>

<br>

<div>
  <%= link_to "Back to deliveries", deliveries_path %>
</div>