<p style="color: green"><%= notice %></p>

<h1>Company</h1>
<%= link_to "New company", new_company_path %>
	<br></br>

<div id="companies">
  <% @companies.each do |company| %>
    <%= render company %>
    <p>
		<%= link_to "Show this company", company, class: "btn btn-primary btn-sm" %>
	</p>
  <% end %>
</div>


