<h1>Editing lesson payment</h1>

<%= render "form", lesson_payment: @lesson_payment %>

<br>

<div>
  <%= link_to "Show this lesson payment", @lesson_payment %> |
  <%= link_to "Back to lesson payments", lesson_payments_path %>
</div>
