<tr>
  <td><%= availability.start_time.strftime("%Y-%m-%d %H:%M") %></td>
  <td><%= availability.end_time.strftime("%Y-%m-%d %H:%M") %></td>
  <td><%= availability.user.name %></td>
  <td><%= link_to "Show", availability %></td>
  <!-- Add additional table cells for other availability details -->
</tr>