<div id="<%= dom_id availability %>" class="card my-3">
  <div class="card-body">
    <p class="card-text">
      <strong>Start:</strong>
	  <%= availability.start_time.strftime("%d-%m-%Y @%H:%M") %>
    </p>
  
    <p class="card-text">
      <strong>Finish:</strong>
	  <%= availability.end_time.strftime("%d-%m-%Y @%H:%M") %>
    </p>

  </div>
</div>