<p style="color: green"><%= notice %></p>

<h1>My Availabilities</h1>
<%= link_to "New availability", new_availability_path %>

<div class="table-responsive">
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Start Time</th>
        <th>End Time</th>
        <th>User</th>
        <!-- Add additional table headers for other availability details -->
      </tr>
    </thead>
    <tbody>
      <% @availabilities.order(start_time: :asc).each do |availability| %>
        <%= render partial: 'availability', locals: { availability: availability } %>
      <% end %>
    </tbody>
  </table>
</div>
