<div id="<%= dom_id account %>">
  <p>
    <strong>Account ID:</strong>
    <%= account.account_id %>
  </p>

  <p>
    <strong>Index:</strong>
    <%= account.id %>
  </p>

  <p>
    <strong>Company:</strong>
    <%= account.company %>
  </p>

   <p>
    ------------------------
  </p>

</div>
